

body {
  font-family: 'Cambria', sans-serif;
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
}
.events {
  /*display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px; 
  align-content: center; */
  display:grid;
  align-content: center;
  justify-items: center; /* Center horizontally */
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #000000;
}

.events .event {
  width: 500px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145,158,171,.2), 0 12px 24px -4px rgba(145,158,171,.12);
}

.event-title {
  color: #000000
}

.event img {
  height: 150px;
}

#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left:30%;
}

.link-item {
  color: #000
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #000;
}

.add-to-cart-btn {
  background: #000;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 10px;
  font-family: 'Cambria', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
  /*max-width: 100%;
  height: auto;*/
}

.search {
  width: 100%;
  position: sticky;
  display: flex;
  height: 36px;
}

.searchTerm {
  width: 100%;
  border:  1px solid #000;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
  position: sticky;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: #000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.logo2 {
  width: 60px;
  height: 60px;
  margin-left: -5%;
}

.wrap{
  width: 20%;
  top: 2%;
  left: 75%;
  transform: translate(0%, 0%);
}

.md{
  padding-left: 200px;
}






